.movie-page{
    color: #FFF;
    display: flex;
    flex-direction: column;
    max-width: 60%;
    margin: 8rem 15rem 1rem;
    justify-content: center;
}

.movie-page svg {
    font-size: 1.5rem;
    color: #7b5eb6;
}

.movie-details-container {
    margin-bottom: 4rem;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    gap: 2rem;
}
  