.movie-page{
    color: #FFF;
    display: flex;
    flex-direction: column;
    max-width: 1400px;
    margin: 2rem auto;
}

.movie-page svg {
    font-size: 1.5rem;
    color: #7b5eb6;
}

.movie-details-container {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    gap: 2rem;
}

.movie-details {
    display: flex;
    flex-direction: column;
    max-width: 1200px;
    margin-top: 5em;
    gap: 1rem;
}

.info p{
    margin-top: 1rem;
}

.description {
    flex: 1;
}

.description p {
    margin-top: 1rem;
}
  